#**Theoritical Questions**

1. What are data structures, and why are they important?
- Ans: The data strutures are spcialized formates that are used for organising, sorting and accessing the data.
- Importance:
              - When we choose correct data structure it significiantely affects the efficience and performance of the program.
              - It conserve memory usage and help in searching and sorting of the data

2. Explain the difference between mutable and immutable data types with examples?
 - Ans: The main difference between the mutable and immutable data types is we can add, delete and update the values in the mutable data types like sets, lists, dictionary etc. while we can't add, delete or update the data in the immutable data types like string, tuple etc.

- For example:
                In tuple we can not update the item like
                t1=(1,2,3)
                t1[2]= 34

                O/P: AttributeError: 'tuple' object has no attribute

                While
                l1=[1,2,3]
                l1[1]=5
                print(l1)

                O/P: [1,5,3]

3. What are the main differences between lists and tuples in Python?

- Ans: The main difference between lists and tuples is that list are mutable that is we can append,remove and delete elements from the list while we can not add, update or delete elements from the tuple. Tuples are immutable list.

- List is denoted by "[ ]" while tuple is denoted by "( )"

4. Describe how dictionaries store data?
- Ans: Dictionaries store data in the for of key and value pairs i.e,
 keys act as a index for the values.
- syntax to declare a dictionary:
                                  dict={}
                                  dict["keys"]="values"
- Example:
            d1={"name":"pwskills","batch":"Datascience with Gen AI"}
            print(d1[name])
            O/P: pwskills

5. Why might you use a set instead of a list in Python?
- Ans: We may use set instead of list in python if we wan to remove duplicates from the list. If we want only unique values from the list.
- Example:
            if we want to take a user input as list and we want only unique values then we can convert list to set.

            s=int(input("Enter the values you want "))
            l=[]
            for i in range (s):
                e=input("Enter the values you want to acculumte in the list")
                l.append(e)
            print("list before removing duplicates",l)
            print("list after removing duplicates",set(l))

6. What is a string in Python, and how is it different from a list?
- Ans: String in the python is immutable collection of character and list is mutable heterogenous collection of data.
- We can not update,delete or add any element in string while from python 3.17 the functionality of replace () is added to replace particular item in string.
- In List we can add element using .append(), we can remove element using .remove(), we can delete element using .pop etc.. function are available in list while not in string as string is immutable while list is mutable.

7. How do tuples ensure data integrity in Python?

- Ans: Tuples are immutable objects so we can not add, update or delete the items from the tuple so when we talk about the data integrity it is ensured by the immutability of the tuple.
- For example:
              t=(1,2,3,4)
              t1[1]=45

              O/P: tuple' object does not support item assignment

8. What is a hash table, and how does it relate to dictionaries in Python?
- Ans:Hash table is a function that is used to assign unique index values for the items stored in any data structure.So we can easily access the element through its index value and that indexvalue refers to the memory location in which the element is stored.
- Hash table is related to dictionary in python as the hash table takes keys of the dictionars as index to the values inserted in that particular dictionary.
- So dictionary elements can be accessed using the keys as an index to the values stored in that particular memory location.

9. Can lists contain different data types in Python?
- Ans: List can contain heterogenous data i.e, it can simultaneously contain string, integer, float, complex numbers etc. together in a single take.
- For Example:
                L1=["pwSkills","2356","23.56","34j + 6"]

10. Explain why strings are immutable in Python ?
- Ans: Strings are immutable because when we try to change the character in the string it refuses to update the caharcte and moreover we can not add or delete any character once entered in the string.

- For Example:
              string1=["pwskills"]
              string1[1]="D"
              O/P: string' Object doesn't support item assignment.

11. What advantages do dictionaries offer over lists for certain tasks?
- Ans:The main advantage of dictionaries over lists is that it has hased key values and due to that time complexity for searching the elements is decreased while in list indexs are not hased.
- Moreover dictionaries offer more readable approach then lists.

12. Describe a scenario where using a tuple would be preferable over a list?
- Ans: Example1: When we talk about the aadhar card number of the people of india that must be stored in a tuple data structure because aadhar number of a particular person must never be edited or updated once created so it must be kept in the tuple to maintain immutability of the data.
- Example 2: When we talk about the employees visited in the cafe till afternoon so this means that employee ids that are noted till afternoon must be locked no updats must be done in it, that data should be kept in tuples to maintain integrity of the data.

13. How do sets handle duplicate values in Python?
- Ans: Sets doesn't allow the duplicate values as it eliminate the data that is repeated multiple times.
- For Example:
                S1={1,2,4,5,5,4,1,1,1,1,2,3}
                print(S1)
                O/P: {1,4,2,3,5}

14. How does the “in” keyword work differently for lists and dictionaries?
- Ans: In list "in" keyword works for a authorising that a particular element is present in the list or not while when we talk about distionary we can not see wheather values are present in or not in but we can check keys as a base for membership operator.
- For Example1:
                l1=[1,2,2,3,2,2,4]
                d1={'1':'a','2':'b'}

                print(1 in l1)
                print('1' in d1)

                O/P: True
                     True
- For Example2:
                l1=[1,2,2,3,2,2,4]
                d1={'1':'a','2':'b'}

                print(1 in l1)
                print('a' in d1)

                O/P: True
                     False #As a is not the key int the pairs given in the    
                            dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?
- Ans: We cannot modify the elements of the tuple as it has the property called immutability. Due to this special property tuples doesn't allow add, update or delete elements in the inserted data.
- For Example:
              t1=(1,2,4,5,7)
              t1[1]=42
              O/P: tuple objects doesn't support arguments assignment.

16. What is a nested dictionary, and give an example of its use case?
- Ans: Nested Dictionary can be used in various ways for example to store employee's details like name,age,number etc with its employee id then we can use nested dictionary.
- Coding the same usecase:
                            l1=["E001","E002","E003"]
                            L2=[{"name":"Rahul","Age":"24"},{"name":"Rutul","Age":"23"},{"name":"Rutu","Age":"20"}]
                            print({emp_id:emp_details for emp_id,emp_details i in zip(L1,L2)})

                            O/P: print({emp_id:emp_details for emp_id,emp_details in zip(l1,l2)})

17. Describe the time complexity of accessing elements in a dictionary?
- Ans:The time complexity of accessing the elements in the dictionary O(1) this means that time taken to seatch the element or to delete the element from dictionary depends on the length of dictionary, as the keys in the dictionary asre hased i.e, hash tables use hash of keys only to find the memory location elements in dictionary while in case of list it is O(n) beacuse hash table fetch the index of the elements and then find the memory location of the elements.

18. In what situations are lists preferred over dictionaries?
- Ans:In the situations in which we do not need any paired data or data in which one has to make pair as they are related to each other in that case we need list over dictionaries.
- For Example:
                #Situation in which lists are used
                We need ids of employee who visited the cafe till evening on 2nd january then we want list only beacuse we do not want delatis of employee who visited in cafe.

                #Situations in which dictionaries are used
                If a new employee joins the company then we need ith details related to age, sex, address, emailid etc in this case to make pairs of each data and to acculumat it with single employee id then we use dictionary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Ans: Till python version 3.6 dictionaries where considered as unorederd collection of data but now after python 3.7 dictionaries are considered as ordered collection of data.
- The diffecrence is seen when we rertrive the data from the dictionary
- For example:
                d1={'1':'a','2':'b'}
                print(d1)
                O/P: {'2':'b','1':'a'}
                #output can differ in i.e, not to get dictionary in order as it was actually as the data is concidered unordered.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
- Ans:Lists stores data in the memory location refered the indexs given to the list items while in case of dictionaries the data is stored in the memory location refered by the key in that particular key value pair and the keys are hased so the data retrival time is less in dictionaries as compared to list.
That is why the Time Complexity of the data retrival in list is O(n) while that of dictionary is O(l).

- For Example:
      list1=[1,2,3,5,6]
      #data retrival in list
      print(list1[1])
      O/P: 2 #data given at the memory location refered by index "1".

      dict1=["key1":"value1","key2":"value2"]
      #data retrival in list
      print(dict1[key1])
      O/P: value1  #data given at memory location refered by key "key1".

#**Practical Questions**

1. Write a code to create a string with your name and print it?

In [ ]:
string1="Hemang Sukhadiya"
print(string1)

Hemang Sukhadiya

2. Write a code to find the length of the string "Hello World"?

In [ ]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
string2="Python Programming"
First_3_character = string2[:3]
print(First_3_character)

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [ ]:
string3="hello"
print(string3.upper())

string3="hello"
print(string3.lower())

string3="hello"
print(string3.title())

string3="hello"
print(string3.capitalize())

string3="heLLo"
print(string3.swapcase())

HELLO
hello
Hello
Hello
HEllO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
string4="I like apple"
print(string4.replace("apple","orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
i=1
l=[]
for i in range (1,6):
  l.append(i)
print(l)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
list1=[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
list1=[1,2,3,4,5]
list1.remove(3)
print (list1)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
list1=['a', 'b', 'c', 'd']
print(list1[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
#Method 1 using reverse function
list1=[10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [ ]:
#Method 2 without using inbuilt function
list1=[10, 20, 30, 40, 50]
list2=[]
i=len(list1)-1
while i>=0:
  list2.append(list1[i])
  i-=1
print(list2)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
tuple1=(10,20,30)
print(type(tuple1),tuple1)

<class 'tuple'> (10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
tuple1= ('apple', 'banana', 'cherry')
print(tuple1[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
tuple1=(1, 2, 3, 2, 4, 2)
print("Count of appearing element 2 in tuple: ", tuple1.count(2))

Count of appearing element 2 in tuple:  3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple1=('dog', 'cat', 'rabbit')
print("Index of the 'cat' in the given tuple is: ",tuple1.index('cat'))

Index of the 'cat' in the given tuple is:  1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
tuple1=('apple', 'orange', 'banana')
s="banana" in (tuple1)
#as banana is member of the tuple s will be true and if statement will run else not run.
if s:
  print("Banana is in the tuple")
else:
  print("Banana is not in the tuple")

Banana is in the tuple

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
s={1,2,3,4,5}
print(type(s),s)

<class 'set'> {1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
s1={1, 2, 3, 4}
s1.add(6)
print(type(s1),s1)

<class 'set'> {1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
tuple1=(10,20,30)
print(type(tuple1),tuple1)

<class 'tuple'> (10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
tuple1=('apple', 'banana','cherry')
print("The first element of the given tuple is: ",tuple1[0])

The first element of the given tuple is:  apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
tuple1=(1, 2, 3, 2, 4, 2)
print("Count of appearing element 2 in tuple: ", tuple1.count(2))

Count of appearing element 2 in tuple:  3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple1=('dog', 'cat', 'rabbit')
print("Index of the 'cat' in the given tuple is: ",tuple1.index('cat'))

Index of the 'cat' in the given tuple is:  1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
tuple1=('apple', 'orange', 'banana')
s="banana" in (tuple1)
#as banana is member of the tuple s will be true and if statement will run else not run.
if s:
  print("Banana is in the tuple")
else:
  print("Banana is not in the tuple")

Banana is in the tuple

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
s={1,2,3,4,5}
print(type(s),s)

<class 'set'> {1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
s1={1, 2, 3, 4}
s1.add(6)
print(type(s1),s1)